name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
          # elixir-version: "1"
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
      - run: cargo build --release --manifest-path native/ducky_nif/Cargo.toml
      - run: mkdir -p priv/native
      - run: cp native/ducky_nif/target/release/libducky_nif.so priv/native/ducky_nif.so
      - run: gleam deps download
      - run: gleam test
      - run: gleam format --check src test
